/* ------ Variables ----- */

:root {
    --dark: #388659;
    --light: #9be564;
    --culture: #f0edee;
}



/* Fonts/Imported assets */

@font-face {
    font-family: 'Playfair';
    src: URL('../assets/PlayfairDisplay-Bold.otf') format('truetype');
}

@font-face {
    font-family: 'Arizonia';
    src: URL('../assets/Arizonia-Regular.ttf') format('truetype');
}

.bold {
    font-weight: bold;
}

.italics {
    font-style: italic;
}

/* Styling elements that will remain consistent for all pages. */

/* Header */

h1 {
    font-family: 'Arizonia', cursive;
    border-top: 2px solid rgba(0, 0, 0, 0.226);
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
}

a.nav-link {
    color: rgb(1, 131, 29);
}

h3 {
    font-family: Playfair;
    margin: 20px;
    text-align: center;
}

header h3 {
    margin: 0 0 10px 0;
    font-size: 34px;
    letter-spacing: 0.01rem;
}

/* Body */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgba(45, 192, 45, 0.76);
    height: 100%;
}

/* Nav bar */

.logo {
    margin-left: 20px;
    min-height: 50px;
}

.navbar-custom {
    background: rgb(94,242,148);
    background: linear-gradient(90deg, rgba(94,242,148,0.9472163865546218) 0%, rgba(72,228,129,1) 52%, rgba(35,240,120,1) 100%);
}


.nav-link {
    color: darkgreen;
}

.navbar-nav li {
    font-weight: bold;
    font-size: 22px;
    margin-left: 30px;
}

/* Footer */

footer {
    text-align: center;
    margin: 10px;
}

footer img {
    opacity: 0.8;
}

.copyright {
    margin: 10px;
    font-size: 14px;
    opacity: 0.8;
}

.name {
    margin: 5px;
    font-size: 14px;
    opacity: 0.8;
}


/* Styling for the landing/home page. */

.main {
    margin: 4rem 6rem;
    border: 2px solid rgba(255, 255, 255, 0.685);
    border-radius: 4px;
}

.main p{
    text-align: center;
}

hr {
    border-top: 1px solid white;
}

#greenApples {
    width: 100%;
}

.content {
    display: flex;
}

.caption {
    text-align: justify;
    width: 750px;
}

.img-with-text img {
    display: block;
    width: auto;
    margin: 0px auto;
    margin: 10px 4rem 2rem;
    max-height: 500px;
    border: 2px solid white;
    border-radius: 50%;
}

#caption {
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
}

.content p {
    font-size: 20px;
    margin: 30px;
}

.description {
    flex-direction: column;
    margin: 50px;
}



/* Styling for the post wall page. */

.posts {
    margin: 4rem;
    margin-left: 200px;
    display: grid;
    grid-gap: 0;
    grid-row-gap: 30px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-evenly;
}

.post {
    width: 43rem;
}

.post-header {
    background-color: rgba(211, 211, 211, 0.315);
    display: flex;
    justify-content: space-between;
}

.post-header h4 {
    margin: 10px;
    font-weight: bold;
}

h5 {
    margin-top: 14px;
    padding-right: 40%;
    color: rgba(88, 88, 88, 0.911);
    font-size: 20px;
    opacity: 0.9;
}

.postTitle {
    margin: 5px;
}
.close-btn {
    font-size: 1.5rem;
    z-index: 1;
    margin-top: 5px;
    margin-right: 15px;
}
  
.close-btn:hover {
    cursor: pointer;
    color: red;
    transition: 0.2s ease-out;
}

.post-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 250px;
    margin: 5px;
    grid-gap: 10px;
}

.post-content img {
    height: 250px;
    width: 100%;
    outline: none;
    border-radius: 5px;
}

.post-content p {
    word-wrap: normal;
    margin: 5px;
}

.author {
    font-size: 14px;
    opacity: 0.6;
}

.post-footer {
    height: 50px;
    background-color: skyblue;
    display: flex;
}

.post-footer p {
    cursor: pointer;
    font-weight: bold;
    color: rgba(0, 0, 255, 0.623);
    text-decoration-line: underline;
    margin: 12px;
    margin-left: 20px;
}

.comments:hover {
    color: rgba(0, 0, 255, 0.959);
}

.post-buttons {
    display: flex;
    margin-left: auto;
    margin-top: 10px;
    margin-right: 10px;
}

.post-buttons span {
    font-weight: bold;
}

.post-buttons div {
    margin-left: 50px;
}

.post-buttons button {
    background-color: transparent;
    border: none;
    font-size: 20px;
    margin-left: 5px;
}

.post-buttons button:hover {
    transition: transform 1s;
    transform: scale(1.5);
}

.disabled {
    transform: 1s;
    transform: scale(1.5);
    filter: grayscale(1);
}

.commentBox {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 120px;
    margin: 10px;
    background-color: rgba(179, 175, 175, 0.158);
    border-radius: 5px;
}

.commentBox p {
    padding-top: 10px;
    padding-left: 20px;
    margin-bottom: 0px;
    padding-bottom: 10px;
}

.commentBox p:hover {
    background-color: rgba(179, 175, 175, 0.582);
}

.newComment {
    margin: 10px;
    width: 95%;
}


/* Styling for the post submission page. */

.container {
    max-width: 700px;
    width: 100%;
    margin-bottom: 50px;
    background: #F0EDEE;
    padding: 25px 30px;
    border-radius: 5px;
}
.container form .story-details {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
form .story-details .input-box {
    margin-bottom: 15px;
}
.story-details .input-box .details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.story-details .input-box input,
textarea {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.story-details .input-box input:focus,
.story-details .input-box input:valid,
textarea:focus, textarea:valid {
    border-color: skyblue;
}
textarea {
    resize: none;
    height: 300px;
}
textarea::-webkit-scrollbar {
    width: 0;
}
#A {
    grid-column: 1 / 3;
}
#B {
    grid-column: 3 / 5;
}
#C {
    grid-column: 1 / 3;
    grid-row: 2 / 4;
}
#D {
    grid-column: 3 / 5;
}
#E {
    grid-column: 3 / 5;
}
.input-box img {
    height: 220px;
    width: 100%;
    outline: none;
    border-radius: 5px;
}
form .button {
    height: 45px;
    margin: 45px 0;
}
form .button input {
    height: 100%;
    width: 100%;
    outline: none;
    color: white;
    border: none;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(135deg, lightgreen, darkgreen);
}
form .button input:hover {
    background: linear-gradient(-135deg, lightgreen, darkgreen);
    cursor: pointer;
}
#contentForm {
    line-height: 40px;
}

/* Media Queries */

@media (max-width: 584px) {
    .container {
        max-width: 100%;
    }
    form .story-details .input-box {
        margin-bottom: 15px;
        width: 100%;
    }
    .container form .story-details {
        max-height: 300px;
        overflow-y: scroll;
    }
    .story-details::-webkit-scrollbar {
        width: 0;
    }
}
