/* ------ Variables ----- */

:root {
    --dark: #388659;
    --light: #9be564;
    --culture: #f0edee;
}

/* Fonts/Imported assets */

@font-face {
    font-family: 'Playfair';
    src: URL('./assets/PlayfairDisplay-Bold.otf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Saira+Condensed:wght@300&display=swap');


/* Styling elements that will remain consistent for all pages. */

/* Header */

h1 {
    font-family: Playfair;
    padding-top: 10px;
    font-size: 80px;
    text-align: center;
}

h3 {
    margin: 20px;
    text-align: center;
}

/* Body */

body {
    background-color: rgb(10, 212, 94);
    height: 100%;
}

/* Nav bar */

.logo {
    margin-left: 20px;
    min-height: 50px;
}

.navbar-custom {
    background-color: lightgreen;
}


.nav-link {
    color: darkgreen;
}

.navbar-nav li {
    font-weight: bold;
    font-size: 22px;
    margin-left: 30px;
}

/* Footer */

footer {
    text-align: center;
    margin: 10px;
}

footer img {
    opacity: 0.8;
}

.copyright {
    margin: 10px;
    font-size: 14px;
    opacity: 0.8;
}

.name {
    margin: 5px;
    font-size: 14px;
    opacity: 0.8;
}


/* Styling for the landing/home page. */

.main {
    margin: 4rem 6rem;
    border: 2px solid rgba(255, 255, 255, 0.685);
    border-radius: 4px;
}

.main p{
    text-align: center;
}

hr {
    border-top: 1px solid white;
}

.content {
    display: flex;
}

.caption {
    text-align: justify;
    width: 750px;
}

.img-with-text img {
    display: block;
    margin: 0px auto;
}

#caption {
    font-size: 16px;
    font-style: italic;
}

.content img {
    margin: 10px 4rem 2rem;
    max-height: 500px;
}

.content p {
    font-size: 20px;
    margin: 30px;
}

.description {
    flex-direction: column;
    margin: 50px;
}



/* Styling for the post wall page. */

.posts {
    margin: 60px;
    display: grid;
    grid-template-columns: 40rem 650px;
    align-items: center;
    justify-content: space-evenly;
    grid-row: auto auto;
    grid-row-gap: 50px;
}

.post {
    width: 40rem;
}

.post-header {
    background-color: rgba(211, 211, 211, 0.315);
}

.postTitle {
    margin: 10px;
}

.post-content {
    height: 250px;
    margin: 20px;
}

.author {
    font-size: 14px;
    opacity: 0.6;
}

.post-footer {
    height: 50px;
    background-color: skyblue;
    display: flex;
}

.post-footer p {
    font-weight: bold;
    margin: 12px;
}

.comments {
    margin-right: 50px;
}

.post-buttons {
    display: block;
    margin-left: auto;
    margin-top: 10px;
    margin-right: 10px;
}



/* Styling for the post submission page. */

article {
    background-color: #F0EDEE;
    padding: 20px;
    margin: auto;
    margin-top: 30px;
    width: 60%;
    border-radius: 10px;
}

.topTitles {
    font-family: 'Lobster', cursive;
    font-weight: 100;
    font-size: 60px;
    text-align: center;
    color: rgb(66, 62, 62);
    padding: 30px;
}

#form {
    width: 50%;
    margin: auto;
    font-size: 30px;
    font-family: 'Saira Condensed', sans-serif;
    letter-spacing: 0.1em;
    padding-bottom: 150px;
}

#titleForm {
    width: 100%;
    height: 30px;
    font-family: 'Saira Condensed', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-top: 20px;
}

#titleCount {
    padding-bottom: 60px;
    background-color: #ebdbc300;
}

#descriptionForm {
    width: 100%;
    height: 100px;
    resize: none;
    font-family: 'Saira Condensed', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-top: 20px;
}

#descriptionCount {
    padding-bottom: 60px;
    background-color: #ebdbc300;
}

#titleCount,
#descriptionCount,
#contentCount {
    text-align: center;
}

#contentForm {
    width: 100%;
    height: 200px;
    resize: none;
    font-family: 'Saira Condensed', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-top: 20px;
}

#contentCount {
    padding-bottom: 60px;
    background-color: #ebdbc300;
}

#gifForm {
    width: 100%;
    height: 30px;
    font-family: 'Saira Condensed', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-top: 20px;
}

#submitForm {
    background-color: var(--dark);
    color: white;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    margin: 2px 2px;
    font-family: 'Saira Condensed', sans-serif;
    margin-top: 20px;
}

#submitForm:hover {
    background-color: var(--light);
}

.post-content img {
    max-width: auto;
    max-height: 150px;
}
