@font-face {
    font-family: 'Playfair';
    src: URL('./images/PlayfairDisplay-Bold.otf') format('truetype');
  }

h1 {
    font-family: Playfair;
    padding-top: 10px;
    font-size: 80px;
    text-align: center;
}

body {
    background-color: rgb(10, 212, 94);
    height: 100%;
}

.logo {
    margin-left: 20px;
}

.navbar-custom {
    background-color: lightgreen;
}


.nav-link {
    color: darkgreen;
}

.navbar-nav li {
    font-weight: bold;
    font-size: 18px;
    margin-left: 30px;
}

h3 {
    margin: 20px;
    text-align: center;
}

.main {
    margin-bottom: 100px;
}

.posts {
    margin: 60px;
    height: 300px;
    display: grid;
    grid-template-columns: 40rem 650px;
    align-items: center;
    justify-content: space-evenly;
    grid-row: auto auto;
    grid-row-gap: 50px;
}

.post {
    width: 40rem;
}

.post-header {
    background-color: rgba(211, 211, 211, 0.315);
}

.postTitle {
    margin: 10px;
}

.post-content {
    height: 250px;
    margin: 20px;
}

.author {
    font-size: 14px;
    opacity: 0.6;
}

.post-footer {
    height: 50px;
    background-color: skyblue;
    display: flex;
}

.post-footer p {
    font-weight: bold;
    margin: 12px;
}

.comments {
    margin-right: 50px;
}

.post-buttons {
    display: block;
    margin-left: auto;
    margin-top: 10px;
    margin-right: 10px;
}
